name: lint

on:
  push:
    branches: [main]
  pull_request:

jobs:
  lintr:
    runs-on: ubuntu-latest

    env:
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}

    steps:
      - uses: actions/checkout@v4

      - uses: r-lib/actions/setup-r@v2
        with:
          r-version: 'release'
          use-public-rspm: true

      - uses: r-lib/actions/setup-r-dependencies@v2
        with:
          extra-packages: |
            any::lintr
          needs: lint

      - name: Lint package
        run: |
          lints <- lintr::lint_package()
          print(lints)
          if (length(lints) > 0) {
            stop(sprintf("lintr found %d lint issue(s)", length(lints)))
          }
        shell: Rscript {0}
